.columns > div {
  display: flex;
  flex-direction: column;
}

.columns img {
  width: 100%;
}

.columns > div > div {
  order: 1;
}

.columns > div > .columns-img-col {
  order: 0;
}

.columns > div > .columns-img-col img {
  display: block;
}

.columns.product{
  font-family: Rubik, sans-serif;
}

.columns.product h2 {
  color: #103c79;
  font-family: Rubik, sans-serif;
  font-weight: 500;
  font-size: 2.25rem;
  line-height: 2.625rem;
}

@media (width >= 900px) {
  .columns > div {
    align-items: center;
    flex-direction: unset;
    gap: 24px;
  }

  .columns > div > div {
    flex: 1;
    order: unset;
  }
}
