/*
 * Copyright 2020 Adobe. All rights reserved.
 * This file is licensed to you under the Apache License, Version 2.0 (the "License");
 * you may not use this file except in compliance with the License. You may obtain a copy
 * of the License at http://www.apache.org/licenses/LICENSE-2.0
 *
 * Unless required by applicable law or agreed to in writing, software distributed under
 * the License is distributed on an "AS IS" BASIS, WITHOUT WARRANTIES OR REPRESENTATIONS
 * OF ANY KIND, either express or implied. See the License for the specific language
 * governing permissions and limitations under the License.
 */

/* Temporary disable for the React Widget block */
/* stylelint-disable selector-class-pattern */

:root {
  /* colors */
  --background-color: white;
  --light-color: #f8f8f8;
  --dark-color: #505050;
  --text-color: #131313;
  --link-color: #3b63fb;
  --link-hover-color: #1d3ecf;
  --professional-500: #103c79;
  --professional-400: #2c60a1;
  --professional-300: #5a8fc8;
  --professional-200: #a8cfed;
  --professional-100: #dce6ef;
  --color-theme-500: var(--professional-500);
  --color-theme-400: var(--professional-400);
  --color-theme-300: var(--professional-300);
  --color-theme-200: var(--professional-200);
  --color-theme-100: var(--professional-100);

  /* NIBE */
  --font-sans: ui-sans-serif, system-ui, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  --font-mono: ui-monospace, sfmono-regular, menlo, monaco, consolas, "Liberation Mono", "Courier New", monospace;
  --neutral-500: #1a1b1b;
  --neutral-400: #606060;
  --neutral-300: #d1d1d1;
  --neutral-200: #f2f2f2;
  --neutral-100: #fefefe;
  --success-100: #266e2a;
  --success-20: #d4e2d4;
  --warning-100: #d13f00;
  --warning-20: #fce7cc;
  --error-100: #e71313;
    --error-20: #fad0d0;
  --color-red-100: oklch(93.6% .032 17.717deg);
  --color-red-600: oklch(57.7% .245 27.325deg);
  --color-blue-600: oklch(54.6% .245 262.881deg);
  --color-gray-50: oklch(98.5% .002 247.839deg);
  --color-gray-100: oklch(96.7% .003 264.542deg);
  --color-gray-200: oklch(92.8% .006 264.531deg);
  --color-gray-300: oklch(87.2% .01 258.338deg);
  --color-gray-500: oklch(55.1% .027 264.364deg);
  --color-neutral-100: var(--neutral-100);
  --color-neutral-200: var(--neutral-200);
  --color-neutral-300: var(--neutral-300);
  --color-neutral-400: var(--neutral-400);
  --color-neutral-500: var(--neutral-500);
  --color-neutral-600: oklch(43.9% 0 0deg);
  --color-black: #000;
  --color-white: #fff;
  --spacing: .25rem;
  --breakpoint-xl: 1280px;
  --breakpoint-2xl: 1536px;
  --container-xl: 36rem;
  --container-6xl: 72rem;
  --text-xs: .75rem;
  --text-xs-line-height: calc(1 / .75);
  --text-sm: .875rem;
  --text-sm-line-height: 1.25rem;
  --text-base: 1rem;
  --text-base-line-height: 1.5;
  --text-lg: 1.25rem;
  --text-lg-line-height: 2rem;
  --font-weight-thin: 100;
  --font-weight-normal: 400;
  --font-weight-medium: 500;
  --font-weight-semibold: 600;
  --font-weight-bold: 700;
  --radius-sm: .25rem;
  --radius-md: .375rem;
  --radius-lg: .5rem;
  --radius-xl: .75rem;
  --radius-4xl: 2rem;
  --ease-in: cubic-bezier(.4, 0, 1, 1);
  --ease-out: cubic-bezier(0, 0, .2, 1);
  --ease-in-out: cubic-bezier(.4, 0, .2, 1);
  --animate-spin: spin 1s linear infinite;
  --default-transition-duration: .15s;
  --default-transition-timing-function: cubic-bezier(.4, 0, .2, 1);
  --default-font-family: var(--font-sans);
  --default-mono-font-family: var(--font-mono);
  --font-rubik: rubik, sans-serif;
  --color-success-100: var(--success-100);
  --color-success-20: var(--success-20);
  --color-warning-100: var(--warning-100);
  --color-warning-20: var(--warning-20);
  --color-error-100: var(--error-100);
  --color-error-20: var(--error-20);
  --text-h1-lg: 3rem;
  --text-h1-lg-line-height: 3.5rem;
  --text-h1: 2.25rem;
  --text-h1-line-height: 2.625rem;
  --text-h2: 1.75rem;
  --text-h2-line-height: 2.625rem;
  --text-h3: 1.5rem;
  --text-h3-line-height: 2.25rem;
  --text-md: 1rem;
  --text-md-line-height: 1.5rem;
  --animate-modal-center: modal-center .2s ease-in forwards;
  --animate-modal-slide-in-right: modal-slide-in-right .4s ease;
  --animate-modal-slide-out-right: modal-slide-out-right .4s ease;
  --animate-modal-slide-in-left: modal-slide-in-left .4s ease;
  --animate-modal-slide-out-left: modal-slide-out-left .4s ease;
  --animate-shimmer: shimmer 2.5s infinite;
  --animate-draw-check: draw-check 1s linear forwards;
  --animate-cart-ping: cart-ping 1s cubic-bezier(0, 0, .2, 1) forwards;

  /* fonts */
  --body-font-family: roboto, roboto-fallback, sans-serif;
  --heading-font-family: roboto-condensed, roboto-condensed-fallback, sans-serif;

  /* body sizes */
  --body-font-size-m: 22px;
  --body-font-size-s: 19px;
  --body-font-size-xs: 17px;

  /* heading sizes */
  --heading-font-size-xxl: 55px;
  --heading-font-size-xl: 44px;
  --heading-font-size-l: 34px;
  --heading-font-size-m: 27px;
  --heading-font-size-s: 24px;
  --heading-font-size-xs: 22px;

  /* nav height */
  --nav-height: 64px;
}

/* fallback fonts */
@font-face {
  font-family: roboto-condensed-fallback;
  size-adjust: 88.82%;
  src: local('Arial');
}

@font-face {
  font-family: roboto-fallback;
  size-adjust: 99.529%;
  src: local('Arial');
}

@media (width >= 900px) {
  :root {
    /* body sizes */
    --body-font-size-m: 18px;
    --body-font-size-s: 16px;
    --body-font-size-xs: 14px;

    /* heading sizes */
    --heading-font-size-xxl: 45px;
    --heading-font-size-xl: 36px;
    --heading-font-size-l: 28px;
    --heading-font-size-m: 22px;
    --heading-font-size-s: 20px;
    --heading-font-size-xs: 18px;
  }
}

body {
  display: none;
  margin: 0;
  background-color: var(--background-color);
  color: var(--text-color);
  font-family: var(--body-font-family);
  font-size: var(--body-font-size-m);
  line-height: 1.6;
}

body.appear {
  display: block;
}

header {
  height: var(--nav-height);
}

header .header,
footer .footer {
  visibility: hidden;
}

header .header[data-block-status="loaded"],
footer .footer[data-block-status="loaded"] {
  visibility: visible;
}

h1:not(.react-widget-wrapper h1, .react-aria-modal__underlay h1),
h2:not(.react-widget-wrapper h2, .react-aria-modal__underlay h2),
h3:not(.react-widget-wrapper h3, .react-aria-modal__underlay h3),
h4:not(.react-widget-wrapper h4, .react-aria-modal__underlay h4),
h5,
h6 {
  margin-top: 0.8em;
  margin-bottom: 0.25em;
  font-family: var(--heading-font-family);
  font-weight: 600;
  line-height: 1.25;
  scroll-margin: 40px;
}

h1:not(.react-widget-wrapper h1, .react-aria-modal__underlay h1) { font-size: var(--heading-font-size-xxl); }
h2:not(.react-widget-wrapper h2, .react-aria-modal__underlay h2) { font-size: var(--heading-font-size-xl); }
h3:not(.react-widget-wrapper h3, .react-aria-modal__underlay h3) { font-size: var(--heading-font-size-l); }
h4:not(.react-widget-wrapper h4, .react-aria-modal__underlay h4) { font-size: var(--heading-font-size-m); }
h5 { font-size: var(--heading-font-size-s); }
h6 { font-size: var(--heading-font-size-xs); }

p:not(.react-aria-modal__underlay p),
dl:not(.react-widget-wrapper dl),
ol,
ul,
pre,
blockquote {
  margin-top: 0.8em;
  margin-bottom: 0.25em;
}

code,
pre {
  font-size: var(--body-font-size-s);
}

pre {
  padding: 16px;
  border-radius: 8px;
  background-color: var(--light-color);
  overflow-x: auto;
  white-space: pre;
}

main > div {
  margin: 40px 16px;
}

input,
textarea,
select,
button:not(.react-widget-wrapper button, .react-aria-modal__underlay button) {
  font: inherit;
}

/* links */
a:any-link {
  color: var(--link-color);
  text-decoration: none;
  overflow-wrap: break-word;
}

a:hover {
  color: var(--link-hover-color);
  text-decoration: underline;
}

/* buttons */
a.button:any-link,
button:not(.react-widget-wrapper button, .react-aria-modal__underlay button) {
  box-sizing: border-box;
  display: inline-block;
  max-width: 100%;
  margin: 12px 0;
  border: 2px solid transparent;
  border-radius: 2.4em;
  padding: 0.5em 1.2em;
  font-family: var(--body-font-family);
  font-style: normal;
  font-weight: 500;
  line-height: 1.25;
  text-align: center;
  text-decoration: none;
  background-color: var(--link-color);
  color: var(--background-color);
  cursor: pointer;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

a.button:hover,
a.button:focus,
button:hover:not(.react-widget-wrapper button, .react-aria-modal__underlay button),
button:focus:not(.react-widget-wrapper button, .react-aria-modal__underlay button) {
  background-color: var(--link-hover-color);
  cursor: pointer;
}

button:disabled:not(.react-widget-wrapper button, .react-aria-modal__underlay button),
button:disabled:hover:not(.react-widget-wrapper button, .react-aria-modal__underlay button) {
  background-color: var(--light-color);
  cursor: unset;
}

a.button.secondary,
button.secondary {
  background-color: unset;
  border: 2px solid currentcolor;
  color: var(--text-color);
}

main img {
  max-width: 100%;
  width: auto;
  height: auto;
}

.icon {
  display: inline-block;
  height: 24px;
  width: 24px;
}

.icon img {
  height: 100%;
  width: 100%;
}

/* sections */
main > .section {
  margin: 40px 0;
}

main > .section > div {
  max-width: 1200px;
  margin: auto;
  padding: 0 24px;
}

main > .section:first-of-type {
  margin-top: 0;
}

@media (width >= 900px) {
  main > .section > div {
    padding: 0 32px;
  }
}

/* section metadata */
main .section.light,
main .section.highlight {
  background-color: var(--light-color);
  margin: 0;
  padding: 40px 0;
}
