.anim-svg {
  width: 100%;
  overflow: hidden;
}

.anim-svg .gsap-container {
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.anim-svg svg {
  width: 100%;
  height: 100%;
  object-fit: cover;
}